@import '../../styles/base.scss';

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &:focus-within {
    label {
      transform: translate(0, 6px) scale(0.75);
    }
  }
}

.input__field {
  @include simple-text;
  width: 100%;
  height: 56px;
  padding: 14px 16px 0 10px;
  outline: 0;
  border: none;
  border-bottom: 1px solid rgba($sanJuanBlue, 0.5);
  background-color: transparent;
}

.input__label {
  @include simple-text;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 20px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
