@import '../../styles/base.scss';

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  opacity: 0.5;
  margin-top: 28px;

  &--error {
    color: rgba($errorOrange, 0.5);
    opacity: 1;
    .input__field {
      border-bottom: 1px solid rgba($errorOrange, 0.5);
    }
  }

  &--active {
    opacity: 1;
    color: $sanJuanBlue;
    .input__field {
      border-bottom: 1px solid $sanJuanBlue;
    }
  }

  &--disabled {
    opacity: 0.5;
  }
}

.input__field {
  @include simple-text;
  color: $sanJuanBlue;
  width: 100%;
  height: 35px;
  padding: 0 20px;
  outline: 0;
  border: none;
  border-bottom: 1px solid rgba($sanJuanBlue, 0.5);
  background-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;

  &--textarea {
    height: 100px;
    margin-top: 10px;
    resize: none;
    padding-top: 65px;
  }
}

.input__label {
  @include simple-text;
  padding: 0 20px;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 5px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.input__label--floating {
  transform: translate(0, -16px) scale(0.85);
}
.input__error {
  @include simple-text(11px, 13px);
  margin-left: 20px;
  position: absolute;
  bottom: -17px;
}
