@import '../../styles/base.scss';

.button {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  outline: none;
  min-width: 130px;
  padding: 15px 26px;
}

.button__text {
  @include simple-text(15px, 18px);
  font-weight: 700;
}

.button--light {
  border: 1px solid $linkWaterWhite;
  color: $linkWaterWhite;
  background-color: transparent;

  &:hover {
    background-color: $linkWaterWhite;
    color: $mirageBlue;
    cursor: pointer;
  }
}

.button--primary {
  color: $linkWaterWhite;
  background-color: $darkPink;
  border: none;
  outline: none;

  &:hover {
    background-color: $charmPink;
    cursor: pointer;
  }
}
