@import '../../styles/base.scss';

.paragraph {
  text-align: center;
}

.paragraph__text {
  @include simple-text;
  width: 100%;
}

.paragraph--center {
  @include lg {
    text-align: center;
  }
}

.paragraph--left {
  @include lg {
    text-align: left;
  }
}
