@import "../../styles/index.scss";

.paragraph__text {
  @include simple-text;
  max-width: 330px;
  text-align: center;

  @include md {
    max-width: 455px;
  }

  @include lg {
    text-align: left;
  }
}
