$darkPink: #ba4270;
$linkWaterWhite: #fbfcfe;
$sanJuanBlue: #36536b;
$mirageBlue: #1b262f;
$charmPink: #da6d97;
$lightSJBlue: #6c8294;
$backgroundGrey: #edf3f8;
$errorOrange: #ff0000;
$black: #000000;

$tooltip-arrow-size: 12px;
