@import '../../styles/base.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include lg {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    padding: 90px 30px;
  }
}

.header__image {
  width: 280px;
  margin: -400px -30px -555px 0;

  @include lg {
    margin: -360px 0px -450px;
    width: 380px;
  }
}

.header__wrapper {
  @include md {
    max-width: 573px;
  }
}
