@import "../../styles/index.scss";

.partners {
  display: flex;
  flex-wrap: wrap;
  // margin: 40px 50px 55px 50px;
  margin: 40px auto 60px auto;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 280px;
  z-index: 10;
  position: relative;

  @include md {
    max-width: 540px;
    margin-bottom: 65px;
  }

  @include lg {
    max-width: 45%;
    margin: 0 0 0 5%;
  }
}

.partners__image {
  width: 38%;
  margin-top: 40px;

  @include md {
    width: 27%;
  }
}
