@import "../../styles/index.scss";

.partners {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 280px;
  z-index: 10;
  position: relative;
}

.partners__image {
  width: 38%;
  margin-top: 40px;

  @include md {
    width: 27%;
  }
}
